%h1= @user.name
.user_image= link_to(image_tag(@user.image.url(:medium)), @user.image.url(:original), class: "top_up")
.user_info
  %table
    %tr
      %td.label Studiengang:
      %td= @user.long_course+" ("+@user.term.to_s+". Semester)"
    %tr
      %td Dabei seit:
      %td= I18n.localize(@user.created_at.to_date)
    - if !@user.last_login.nil?
      %tr
        %td Letzter Login:
        %td= I18n.localize(@user.last_login.to_date)+" um "+@user.last_login.hour.to_s+":"+@user.last_login.min.to_s+" Uhr"
      %br
    
#user_activities
  #future_games.section
    %h2 Kommende Spiele
    = render :partial => "games/list", locals: {games: @user.future_games}
  #current_games.section
    %h2 Laufende Spiele
    = render :partial => "games/list", locals: {games: @user.current_games}
  #finished_games.section
    %h2 Vorherige Spiele
    = render :partial => "games/list", locals: {games: @user.finished_games}
  