%h1 Hallo #{@current_user.first_name}
#short_info
  #thumb
    = image_tag @current_user.image.url(:thumb)
  #info
    = link_to @current_user.name, @current_user
    %br
    = @current_user.email
    %br
    = @current_user.long_course+" ("+@current_user.term.to_s+". Semester)"
    %br
    = #link_to "Bearbeiten", edit_user_path(@current_user)

%h2 Deine Spiele
- if @own_games.empty?
  %p 
    Du nimmst zur Zeit an keinen Spielen teil.
    %br
    = link_to "Wähle jetzt ein Spiel aus", :open_games
- else
  %table.games
    %thead
      %tr
        %th Titel
        %th Spielstart
        %th Erfordert Annahme?
        %th Freie Plätze
        %th
    - @own_games.each do |game|
      = render :partial  => "games/item", :locals => {game: game}