%table
  %tr
    %th Spieler
    %th Status
    %th Kills
  %tr
  - @game.highscore.each do |user|
    -if user.eql?(@game.winner)
      %tr{:class => 'winner'}
        %td= user.name
        %td= user.status_in_game(@game)
        %td= user.proved_kill_contracts_for_game(@game).count
    -else
      %tr
        %td= user.name
        %td= user.status_in_game(@game)
        %td= user.proved_kill_contracts_for_game(@game).count

    
      
