%h1 Ausstehende Spiele
%table.games
  %thead
    %tr
      %th= sortable "title", "Titel"
      %th= sortable "game_start", "Spielstart"
      %th= sortable "needs_confirmation", "Erfordert Annahme?"
      %th= sortable "free_places", "Freie Plätze"
      %th
  - @games.each do |g|
    %tr
      %td= link_to g.title, game_path(g)
      %td= I18n.localize(g.game_start)
      %td= g.needs_confirmation? ? "Ja" : "Nein"
      %td= g.free_places
      %td= link_to "Anzeigen", game_path(g)
    