= render "show_navi"
%h1= @game.title
- if @game.started?
  - @cu.victim_contracts_to_prove_in_game(@game).each do |contract|
    %p
      #{contract.murderer.name} hat behauptet, dass er dich umgebracht hat. Möchtest du #{link_to("zustimmen",contract_confirmation_path(contract))} oder #{link_to("ablehnen", contract_rejection_path(contract), confirm: "Bist du sicher?")}?
- if @game.joinable?(@cu)
  %p
    = link_to "Teilnehmen", new_assignment_path(@game)
%p{style: "width: 820px"}
  = @game.description
%p
  %strong Spielstart:
  = I18n.localize(@game.game_start)
  %br
  - if @game.started? && !@game.finished?
    =  render :partial => "show_ongoing", :locals => {game: @game, cu: @cu}
  - elsif @game.finished?
    =  render :partial => "show_finished", :locals => {game: @game, cu: @cu}
  - else
    %strong Freie Plätze:
    = @game.free_places