%h1= @game.title
- if @game.joinable?(@cu)
  %p
    = link_to "Teilnehmen", new_assignment_path(@game)
  
%p
  %strong Spielstart:
  = I18n.localize(@game.game_start)
  %br
  - if @game.started?
    %strong Anzahl der Teilnehmer:
    = @game.assignments.count
    %br
    %strong Teilnehmer:
    %ul
      - @game.users.each do |user|
        %li 
          = link_to user.name, user
    - else
    %strong Freie Plätze:
    = @game.free_places
      
%p
  = @game.description