= render "show_navi"
%h1= @game.title
- if @game.joinable?(@cu)
  %p
    = link_to "Teilnehmen", new_assignment_path(@game)
  
%p
  %strong Spielstart:
  = I18n.localize(@game.game_start)
  %br
  - if @game.started?
    %strong Anzahl der Teilnehmer:
    = @game.assignments.count
    %br
    %strong Teilnehmer:
    %ul
      - @game.users.each do |user|
        %li 
          = link_to user.name, user
    %strong Dein Kill Count:
    = @cu.proved_kill_contracts_for_game(@game).count
    
    %br      
    %strong Deine offenen Mordaufträge:
    %ul
      - @cu.open_kill_contracts_for_game(@game).each do |contract|
        %li
          = link_to contract.victim.name, contract.victim
          = link_to "(Kill melden)", contract_execution_path(contract), confirm:"Bist du sicher?"
    %strong Deine abgeschlossenen Mordaufträge:
    %ul
      - @cu.proved_kill_contracts_for_game(@game).each do |contract|
        %li
          = link_to contract.victim.name, contract.victim
    
    %strong Todesliste: 
    %ul
      - @game.proved_contracts.each do |contract|
        %li
          - if contract.murderer != contract.victim
            = link_to contract.murderer.name, contract.murderer
            hat am
            = I18n.localize(contract.executed_at.to_date)
            = link_to contract.victim.name, contract.victim
            getötet
          - else
            = link_to contract.murderer.name, contract.murderer
            hat sich am 
            = I18n.localize(contract.executed_at.to_date)
            selbst zerhackt!
    Wenn du keine Lust oder keine Zeit mehr für dieses Spiel hast, kannst du    
    = link_to "Selbstmord", user_suicide_path(@cu, @game), confirm: "Möchtest du dich wirklich selbst töten?"
    begehen.      
    - else
    %strong Freie Plätze:
    = @game.free_places
      
%p
  = @game.description