!!!
%html
  %head
    %title Mörderspiel (Beta)
    %meta{:charset => "utf-8"}
    -#%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    -# stylesheet_link_tag "high_resolution", media: "screen and (min-width: 1000px)"
    -# stylesheet_link_tag "low_resolution", media: "only screen and (max-width: 980px)"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    #main
      #header
        - if current_user
          #sign.loggedin= render 'layouts/sign'
        - else
          #sign.loggedout= render 'layouts/sign'
        #spacer= link_to(image_tag("/images/spacer.gif", width: "100%", height: "100%"), :index)
      #navi= render 'layouts/navigation'
      #content{role: "main"}
        - if flash[:error]
          #error= flash[:error]
        - if flash[:notice]
          #notice= flash[:notice]
        = yield
      - if content_for?(:right_menu)
        #right_menu
          .top
          .main
            %ul= yield :right_menu
          .bottom
      #footer= render 'layouts/footer'
        
    